/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

:root {
	/* =~= Theme Properties =~= */
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 8px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;
}

@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}